@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scrollbar-thumb: #3b3b3b; /* stone-500 */
    --scrollbar-track: #222; /* stone-800 */
}

body {
    font-family: 'Fira Sans', sans-serif;
}

::-webkit-scrollbar,
textarea::-webkit-scrollbar,
pre::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 4px;
}

::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

pre[class*='language-'] {
    margin: 0 !important;
}
